<div id="<%= dom_id ship %>">
  <p>
    <strong>Name:</strong>
    <%= ship.name %>
  </p>

  <p>
    <strong>Registry:</strong>
    <%= ship.registry %>
  </p>

  <p>
    <strong>Shipclass:</strong>
    <%= ship.shipClass %>
  </p>

  <p>
    <strong>Captain:</strong>
    <%= ship.captain %>
  </p>

  <p>
    <strong>Launched:</strong>
    <%= ship.launched %>
  </p>

  <p>
    <strong>Decommissioned:</strong>
    <%= ship.decommissioned %>
  </p>

</div>
